<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.trut.domain.tour.mybatis.TourMapper">

    <insert id="save" keyProperty="id">
        insert into tour (id, date_time, title_a, title_b, title_c)
        values (#{id}, formatdatetime(#{dateTime}, 'yyyy-MM-dd'), #{titleA}, #{titleB}, #{titleC})
    </insert>

    <update id="update">
        update tour
        set title_a=#{updateParam.titleA},
            title_b=#{updateParam.titleB},
            title_C=#{updateParam.titleC}
        where id=#{id} and date_time = #{dateTime}
    </update>

    <select id="findById" resultType="Tour">
        select id, date_time, title_a, title_b, title_c
        from tour
        where id=#{id}
    </select>

    <select id="findByIdAndDateTime" resultType="Location">
        select id, date_time, title_a, title_b, title_c
        from tour
        where id = #{id} and date_time = #{dateTime}
    </select>

</mapper>
