<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.trut.domain.location.mybatis.LocationMapper">

    <insert id="save" keyProperty="id">
            insert into location (id, departure, destination)
            values (#{id}, #{departure}, #{destination})
    </insert>

    <update id="update">
        update location
        set departure=#{updateParam.departure}
            destination=#{updateParam.destination}
        where id=#{id}
    </update>

    <select id="findById" resultType="Member">
        select id, departure, destination
        from location
        where id=#{id}
    </select>

</mapper>
