<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">

  <style>
        table: {
            width: 100%;
            border: 1px solid #444444;
            text-align: center;
        }
        th, td{
            border: 1px solid #444444;
        }
    </style>

</head>
<body>

<script type="text/javascript">
  function findPath(mapObj){
    window.open("/trut/bus/"+mapObj);
  }
</script>

<div class="container" style="max-width: 1000px">
  <div class="py-5 text-center">
    <h2>버스 경로</h2>
  </div>

  <th:block th:each="num : ${#numbers.sequence(1,result.size()-1)}">
    <hr class="my-3">
    <div class="row">
      <div th:text="|${result[num-1].title} -> ${result[num].title}|"></div>
    </div>
    <div class="row">
      <th:block th:each="odsay: ${odsayList[num-1]}">
      <table style="float:left;width:20%" th:if="${odsayStat.index < 5}">
        <tbody>
          <tr>
            <td th:text="|총 이동 시간: ${odsay.totalTime}|"></td>
          </tr>
          <th:block th:each="busInfo : ${odsay.busInfoList}">
          <tr>
            <td th:text="|${busInfoStat.count}번째 버스: ${busInfo.busNo}|"></td>
          </tr>
          <tr>
            <td th:text="|&nbsp;${busInfoStat.count}번째 탑승: ${busInfo.startStation}|"></td>
          </tr>
          <tr>
            <td th:text="|&nbsp;${busInfoStat.count}번째 하차: ${busInfo.endStation}|"></td>
          </tr>
          </th:block>
        <tr>
          <td>
            <form action="tour.html" th:action="@{/trut/bus}" method="post">
              <input type="hidden" id="title1" name="title1" th:value="${result[num-1].title}">
              <input type="hidden" id="mapX1" name="mapX1" th:value="${result[num-1].mapX}">
              <input type="hidden" id="mapY1" name="mapY1" th:value="${result[num-1].mapY}">
              <input type="hidden" id="title2" name="title2" th:value="${result[num].title}">
              <input type="hidden" id="mapX2" name="mapX2" th:value="${result[num].mapX}">
              <input type="hidden" id="mapY2" name="mapY2" th:value="${result[num].mapY}">
              <input type="hidden" id="mapObj" name="mapObj" th:value="${odsay.mapObj}">
              <button class="w-5 btn btn-primary btn-lg" type="submit">경로 보기</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      </th:block>
    </div>
  </th:block>

  <img th:src="@{/img/ODsay_bi_mark.png}"
       style="float:left" alt="powered by www.ODsay.com">

  <hr class="my-4">

  <div class="row">
    <button class="w-100 btn btn-primary btn-lg" type="button"
            th:onclick="|location.href='@{/}'|">
      홈으로
    </button>
  </div>

</div>


</body>
</html>