<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
            .container {
            max-width: 560px;
            }
            .field-error {
            border-color: #dc3545;
            color: #dc3545;
}
    </style>
</head>

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>TRUT 시작</h2>
    </div>
    <form action="route.html" th:object="${locationForm}" th:action method="post">

        <div>
            <div>출발 지역</div>
            <div class="field-error" th:errors="*{departure}"/>
            <select th:field="*{departure}" class="form-select" th:errorclass="field-error">
                <option value="">==출발 지역 선택==</option>
                <option th:each="initLocation : ${initLocations}"
                        th:value="${initLocation.name()}"
                        th:text="${initLocation.description}">춘쳔역</option>
            </select>
        </div>

        <hr class="my-3">

        <div>
            <div>도착 지역</div>
            <div class="field-error" th:errors="*{destination}"/>
            <select th:field="*{destination}" class="form-select" th:errorclass="field-error">
                <option value="">==도착 지역 선택==</option>
                <option th:each="initLocation : ${initLocations}"
                        th:value="${initLocation.name()}"
                        th:text="${initLocation.description}">춘쳔역</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">START</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='home.html'"
                        th:onclick="|location.href='@{/logout}'|"
                        type="button">로그아웃</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>