<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.trut.repository.member.mybatis.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
            insert into member (login_id, password, name)
            values (#{loginId}, #{password}, #{name})
    </insert>

    <update id="update">
        update member
        set password=#{updateParam.password},
            name=#{updateParam.name}
        where id=#{id}
    </update>

    <select id="findById" resultType="Member">
        select id, login_id, password, name
        from member
        where id=#{id}
    </select>

    <select id="findByLoginId" resultType="Member">
        select id, login_id, password, name
        from member
        where login_id=#{loginId}
    </select>
</mapper>
